In [3]:
import pandas as pd
import tensorflow as tf
import numpy as np

In [4]:
df = pd.read_csv('Dataset.csv')
df.head()

,Unnamed: 0,Match ID,Venue,Bat First,Bat Second,Innings,Over,Ball,Innings Runs,Target Score,Chased Successfully,Last Five,CRR,RRR,Wickets Left
0,29,1339605,SuperSport Park,West Indies,South Africa,1,5,5,49,259,1,48.0,8.400000,NaN,9
1,30,1339605,SuperSport Park,West Indies,South Africa,1,5,6,53,259,1,51.0,8.833333,NaN,9
2,31,1339605,SuperSport Park,West Indies,South Africa,1,6,1,57,259,1,54.0,9.243243,NaN,9
3,32,1339605,SuperSport Park,West Indies,South Africa,1,6,2,61,259,1,58.0,9.631579,NaN,9
4,33,1339605,SuperSport Park,West Indies,South Africa,1,6,3,62,259,1,58.0,9.538462,NaN,9

In [5]:
df = df.drop('Unnamed: 0', axis = 1)
df = df.loc[df.Innings == 2]
df

,Match ID,Venue,Bat First,Bat Second,Innings,Over,Ball,Innings Runs,Target Score,Chased Successfully,Last Five,CRR,RRR,Wickets Left
95,1339605,SuperSport Park,West Indies,South Africa,2,5,4,85,259,1,83.0,15.000000,11.347826,10
96,1339605,SuperSport Park,West Indies,South Africa,2,5,5,89,259,1,83.0,15.257143,11.208791,10
97,1339605,SuperSport Park,West Indies,South Africa,2,5,6,90,259,1,79.0,15.000000,11.142857,10
98,1339605,SuperSport Park,West Indies,South Africa,2,5,6,92,259,1,81.0,15.333333,11.133333,10
99,1339605,SuperSport Park,West Indies,South Africa,2,6,1,98,259,1,87.0,15.891892,10.853933,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118359,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,2,143,154,0,46.0,7.032787,16.500000,6
118360,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,3,144,154,0,45.0,7.024390,20.000000,6
118361,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,4,145,154,0,45.0,7.016129,27.000000,6
118362,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,5,146,154,0,42.0,7.008000,48.000000,6
118363,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,6,146,154,0,42.0,6.952381,inf,5

In [6]:
df.reset_index()

,index,Match ID,Venue,Bat First,Bat Second,Innings,Over,Ball,Innings Runs,Target Score,Chased Successfully,Last Five,CRR,RRR,Wickets Left
0,95,1339605,SuperSport Park,West Indies,South Africa,2,5,4,85,259,1,83.0,15.000000,11.347826,10
1,96,1339605,SuperSport Park,West Indies,South Africa,2,5,5,89,259,1,83.0,15.257143,11.208791,10
2,97,1339605,SuperSport Park,West Indies,South Africa,2,5,6,90,259,1,79.0,15.000000,11.142857,10
3,98,1339605,SuperSport Park,West Indies,South Africa,2,5,6,92,259,1,81.0,15.333333,11.133333,10
4,99,1339605,SuperSport Park,West Indies,South Africa,2,6,1,98,259,1,87.0,15.891892,10.853933,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55824,118359,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,2,143,154,0,46.0,7.032787,16.500000,6
55825,118360,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,3,144,154,0,45.0,7.024390,20.000000,6
55826,118361,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,4,145,154,0,45.0,7.016129,27.000000,6
55827,118362,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,5,146,154,0,42.0,7.008000,48.000000,6
55828,118363,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,6,146,154,0,42.0,6.952381,inf,5

In [8]:
df['Balls_left'] = 126 - (6*df['Over'] + df['Ball'])
df['Balls_bowled'] = 120 - df['Balls_left'] 
df['Runs_left'] = df['Target Score'] - df['Innings Runs']

In [9]:
df.head()

,Match ID,Venue,Bat First,Bat Second,Innings,Over,Ball,Innings Runs,Target Score,Chased Successfully,Last Five,CRR,RRR,Wickets Left,Balls_left,Balls_bowled,Runs_left
95,1339605,SuperSport Park,West Indies,South Africa,2,5,4,85,259,1,83.0,15.000000,11.347826,10,92,28,174
96,1339605,SuperSport Park,West Indies,South Africa,2,5,5,89,259,1,83.0,15.257143,11.208791,10,91,29,170
97,1339605,SuperSport Park,West Indies,South Africa,2,5,6,90,259,1,79.0,15.000000,11.142857,10,90,30,169
98,1339605,SuperSport Park,West Indies,South Africa,2,5,6,92,259,1,81.0,15.333333,11.133333,10,90,30,167
99,1339605,SuperSport Park,West Indies,South Africa,2,6,1,98,259,1,87.0,15.891892,10.853933,10,89,31,161

In [11]:
# remove the rows with infinte RRR
df = df.loc[df['Balls_left']!=0]
df = df.reset_index()

In [12]:
df.head()

,index,Match ID,Venue,Bat First,Bat Second,Innings,Over,Ball,Innings Runs,Target Score,Chased Successfully,Last Five,CRR,RRR,Wickets Left,Balls_left,Balls_bowled,Runs_left
0,95,1339605,SuperSport Park,West Indies,South Africa,2,5,4,85,259,1,83.0,15.000000,11.347826,10,92,28,174
1,96,1339605,SuperSport Park,West Indies,South Africa,2,5,5,89,259,1,83.0,15.257143,11.208791,10,91,29,170
2,97,1339605,SuperSport Park,West Indies,South Africa,2,5,6,90,259,1,79.0,15.000000,11.142857,10,90,30,169
3,98,1339605,SuperSport Park,West Indies,South Africa,2,5,6,92,259,1,81.0,15.333333,11.133333,10,90,30,167
4,99,1339605,SuperSport Park,West Indies,South Africa,2,6,1,98,259,1,87.0,15.891892,10.853933,10,89,31,161

In [15]:
dataset = df.drop(['Match ID', 'Innings', 'Over', 'Ball'], axis = 1)
# randomly distributing data
dataset = dataset.sample(n=len(dataset))
dataset = dataset.reset_index(drop = True)
dataset = dataset.drop('index' ,axis =1)
dataset

,Venue,Bat First,Bat Second,Innings Runs,Target Score,Chased Successfully,Last Five,CRR,RRR,Wickets Left,Balls_left,Balls_bowled,Runs_left
0,Shere Bangla National Stadium,Bangladesh,Australia,137,154,1,39.0,8.303030,3.777778,8,27,93,17
1,Shere Bangla National Stadium,India,Bangladesh,86,167,0,24.0,5.319588,16.758621,5,29,91,81
2,Newlands,India,South Africa,24,173,0,23.0,3.692308,10.275862,9,87,33,149
3,Adelaide Oval,Australia,England,53,158,1,50.0,9.085714,6.923077,8,91,29,105
4,New Wanderers Stadium,England,South Africa,50,129,0,50.0,8.108108,5.325843,10,89,31,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55607,Dubai International Cricket Stadium,India,Sri Lanka,76,174,1,53.0,8.142857,8.400000,10,70,50,98
55608,New Wanderers Stadium,South Africa,Bangladesh,102,122,0,29.0,7.555556,2.666667,3,45,75,20
55609,Arun Jaitley Stadium,India,Bangladesh,54,149,1,37.0,6.230769,7.702703,9,74,46,95
55610,SuperSport Park,Pakistan,South Africa,62,196,0,22.0,6.526316,11.652174,4,69,51,134
55611,Beausejour Stadium,New Zealand,England,123,150,1,43.0,7.235294,6.750000,5,24,96,27

In [16]:
# One Hot Encoding
final = pd.get_dummies(dataset, columns = ['Venue', 'Bat First', 'Bat Second'])
final = final*1
final

,Innings Runs,Target Score,Chased Successfully,Last Five,CRR,RRR,Wickets Left,Balls_left,Balls_bowled,Runs_left,...,Bat Second_Afghanistan,Bat Second_Australia,Bat Second_Bangladesh,Bat Second_England,Bat Second_India,Bat Second_New Zealand,Bat Second_Pakistan,Bat Second_South Africa,Bat Second_Sri Lanka,Bat Second_West Indies
0,137,154,1,39.0,8.303030,3.777778,8,27,93,17,...,0,1,0,0,0,0,0,0,0,0
1,86,167,0,24.0,5.319588,16.758621,5,29,91,81,...,0,0,1,0,0,0,0,0,0,0
2,24,173,0,23.0,3.692308,10.275862,9,87,33,149,...,0,0,0,0,0,0,0,1,0,0
3,53,158,1,50.0,9.085714,6.923077,8,91,29,105,...,0,0,0,1,0,0,0,0,0,0
4,50,129,0,50.0,8.108108,5.325843,10,89,31,79,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55607,76,174,1,53.0,8.142857,8.400000,10,70,50,98,...,0,0,0,0,0,0,0,0,1,0
55608,102,122,0,29.0,7.555556,2.666667,3,45,75,20,...,0,0,1,0,0,0,0,0,0,0
55609,54,149,1,37.0,6.230769,7.702703,9,74,46,95,...,0,0,1,0,0,0,0,0,0,0
55610,62,196,0,22.0,6.526316,11.652174,4,69,51,134,...,0,0,0,0,0,0,0,1,0,0
55611,123,150,1,43.0,7.235294,6.750000,5,24,96,27,...,0,0,0,1,0,0,0,0,0,0

In [17]:
final.to_csv("Data.csv")